In [1]:
import pandas as pd
import numpy as np 
import scipy.stats as stats
from scipy.stats import f_oneway
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [2]:
crop = pd.read_csv(r'C:\Users\akars\Downloads\crop.data.csv')
crop

    density  block  fertilizer       yield
0         1      1           1  177.228692
1         2      2           1  177.550041
2         1      3           1  176.408462
3         2      4           1  177.703625
4         1      1           1  177.125486
..      ...    ...         ...         ...
91        2      4           3  177.405292
92        1      1           3  178.141644
93        2      2           3  177.710613
94        1      3           3  177.687264
95        2      4           3  177.118176

[96 rows x 4 columns]

In [3]:
sample1 = crop[crop['fertilizer']==1]['yield']
sample2 = crop[crop['fertilizer']==2]['yield']
sample3 = crop[crop['fertilizer']==3]['yield']

In [5]:
stats.levene(sample1,sample2,sample3,center='mean')
# failed to reject null hypothesis, hence all are homogenous

LeveneResult(statistic=0.88024201585298, pvalue=0.41810853560089667)

In [6]:
from scipy.stats import f_oneway
from statsmodels.stats.multicomp import pairwise_tukeyhsd
f_oneway(sample1,sample2,sample3)
#p value less than 0.05 means there is variance in mean between the samples that is significant

F_onewayResult(statistic=7.8627516452155275, pvalue=0.000699915750287419)

In [7]:
tukey = pairwise_tukeyhsd(endog=crop['yield'],
                          groups=crop['fertilizer'],
                          alpha=0.05)
print(tukey)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
===================================================
group1 group2 meandiff p-adj   lower  upper  reject
---------------------------------------------------
     1      2   0.1762 0.4968 -0.1937 0.5461  False
     1      3   0.5991  0.001  0.2292  0.969   True
     2      3    0.423 0.0209  0.0531 0.7929   True
---------------------------------------------------

In [19]:
print(f'sample 1 mean is :{round(sample1.mean(),2)}')
print(f'sample 2 mean is :{round(sample2.mean(),2)}')
print(f'sample 3 mean is :{round(sample3.mean(),2)}')

sample 1 mean is :176.76
sample 2 mean is :176.93
sample 3 mean is :177.36

By using 1 way ANOVA +Tukey HSD we can see that there is staistically significant difference where sample 3 is greater than both 2 and 1.